body {
  background-image: url(../images/Background.jpg);
  background-repeat: repeat;
}

#grid {
  display: grid;
  grid-template-columns: 10vw 20vw auto 20vw 10vw;
  grid-auto-rows: auto;
  border: 5px solid red;
  gap: 5px;
  color: #002a2a;
}

#header,
#content {
  background-color: #ccffff;
  border: 5px solid #002a2a;
  border-radius: 15px;
}

#header {
  grid-column: 3 / 4;
  align-items: center;
  font-size: 30pt;
  text-align: center;
  padding: 0.5em;
}

#content {
  grid-column: 2 / 5;
  padding: 2em;
  font-size: 16pt;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "q chart"
    "time time";
  gap: 1em;
}

#q {
  grid-area: q;
}

#chart {
  grid-area: chart;
}

#time {
  grid-area: time;
  width: 100%;
  height: 100%;
}
